snippet media
@media (${1:min-width}: $2) {
	.${3:class} {
		$0
	}
}
endsnippet

snippet upper
text-transform: uppercase;
endsnippet

snippet ah
/* Medium */
@media(min-width: 48rem) {

}

/* Large */
@media(min-width: 64rem) {

}
endsnippet

snippet anti
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
endsnippet
