snippet pm
package main
endsnippet

snippet im
import "$1"
endsnippet

snippet fm
func main() $1 {
	$0
}
endsnippet

snippet f
func $1($2) $3 {
	$4
}
endsnippet

snippet fr
func (${2:`!p snip.rv = t[1][:1]`}, ${1:`!p snip.rv = fn.split(".")[0]`}) $3($4) $5 {
	$0
}
endsnippet

snippet slice
[]$1{$2}
endsnippet

snippet for
for i, ${2:`!p snip.rv = t[1][:-1]`} := range $1 {
	$3
}
endsnippet
